---
###############################################################################
#
# absent.yml
#
# @author Arsi Atomi
#
###############################################################################

###############################################################################
# SETTING VARIABLES
###############################################################################


###############################################################################
# INSTALLING PODMAN
###############################################################################

- name: "Ensuring podman package is absent"
  ansible.builtin.include_tasks: package_absent.yml
  vars:
    iac_package: "podman"
