---
###############################################################################
#
# absent.yml
#
# @author Arsi Atomi
#
###############################################################################

###############################################################################
# SETTING VARIABLES
###############################################################################


###############################################################################
# ENSURING PODMAN IS ABSENT
###############################################################################

- name: "Ensuring podman package is absent"
  ansible.builtin.include_tasks: package_absent.yml
  vars:
    iac_package: "podman"
